body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #395A87;
    color: white;
}
header, section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}
h1, h2 {
    font-weight: normal;
    
}
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.intro-text {
    max-width: 600px;
}
.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
.experience, .art, .contact {
    margin-top: 40px;
}
.art-grid, .works-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.art-item, .work-item {
    width: calc(33.333% - 20px);
    background: #324E6A;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.art-item img, .work-item img {
    max-width: 100%;
    border-radius: 20px;
}
footer {
    background: #2A3E57;
    padding: 20px;
    text-align: center;
    color: #ccc;
}
.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#hero {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
}

#hero img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

a {
    color: #ffff;
}

@font-face {
  font-family: 'The Seasons';
  src: url('font/Demo_Fonts/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'The Seasons', serif;
}